<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>NetFlow Analyzer - Alerts</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css"
    >
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body class="simple-page">
    <div id="root">
      <main>
        <h1>Alerts</h1>
        <p>Template page....</p>
        <a href="/dashboard.html">Back to dashboard</a>
      </main>
    </div>
  </body>
</html>
